<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>诊所活动</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../css/clinic_ad.css" />
</head>
<body>
<div id="wrap">
    <div id="header">
    	<div class="back" tapmode onclick="api.closeWin();"></div>
        <h1>北京张祥胜中医诊所</h1>
    </div>
    <section class="con-sec">
        <div id="clinicAd"></div>
    </section>
</div>
<script type="text/template" id="clinicAdTpl">
<% _.each(data.ads, function(ad) { %>
    <div class="ad-item">
        <p class="title"><%= ad.title %></p>
        <p class="date"><%= ad.date %></p>
    </div>
<% }); %>
</script>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/zepto.min.js"></script>
<script type="text/javascript" src="../script/underscore.min.js"></script>
<script type="text/javascript">
    var data = {
        id: '1234',
        name: '北京张祥胜中医诊所',
        ads: [
            {
                id: '1234',
                title: '年底大酬宾，充100送50',
                date: '2015-02-01'
            },
            {
                id: '2234',
                title: '专家坐诊，欢迎来参加',
                date: '2015-04-01'
            }
        ]
    };
    $('#clinicAd').html(_.template($('#clinicAdTpl').html(), data));
	apiready = function() {

	};
</script>
</body>
</html>