.ad-item {
  border-bottom: 1px solid #f0efed;
  padding: 0 10px;
  line-height: 44px;
  font-size: 14px;
}
.ad-item .title {
  float: left;
  width: 65%;
}
.ad-item .price {
  float: right;
  width: 35%;
  text-align: right;
}
.ad-item .price em {
  color: #87d357;
}
