.field {
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
  padding-left: 40px;
  font-size: 14px;
}
.field .icon-wrap {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  width: 40px;
  color: #ff6836;
}
.field input {
  display: block;
  width: 100%;
  height: 50px;
  color: #8E8C8C;
}
.username .icon-wrap {
  font-size: 22px;
}
.register-note {
  color: #666;
  padding-left: 10px;
  font-size: 14px;
  line-height: 1.5;
  position: relative;
  top: 10px;
}
.register-note strong {
  color: #222;
  font-weight: normal;
}
.btn-login,
.btn-register,
.btn-reset-pass {
  height: 40px;
  color: #fff;
  background-color: #ff6836;
  text-align: center;
  word-spacing: 10px;
  font-size: 16px;
  line-height: 40px;
  border-radius: 5px;
  margin: 20px 10px;
}
.page-register .username,
.page-reset-pass .username {
  padding-right: 120px;
}
.page-register .username .get-verify-code,
.page-reset-pass .username .get-verify-code {
  position: absolute;
  right: 10px;
  top: 12px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  padding: 0 6px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  color: #ff6836;
}
